/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "corne_v3.dtsi"

&kscan0 { // 또는 kscan 노드의 실제 이름
    status = "disabled";
};

/ {
     chosen {
         /delete-property/ zmk,kscan; // chosen에서도 kscan 지정을 제거
     };
};